
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: content-box;
}


img {
    width: 100%;
    height: auto;
}
body{
  background-color: #F5EFED  ;
  font-family: "Roboto", sans-serif;
  line-height: 1.75rem;
  font-size: 1.125rem;
}

.svg-container svg{
    width: 1.25rem;
    height: 1.25rem;
}
.svg-container{
    width: 2.25rem;
    height: 2.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
/* Header and Navigation */
.header {
    padding: 1.5em 2em;
    color: white;
    display: flex;
    justify-content: space-between;
    background-color:#041b30;    
}
ul{
    list-style: none;
}
nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    font-size: 1.25rem;
    font-weight: 500;
}

header a{
    text-decoration: none;
    color: inherit;
    position: relative;
    padding-bottom: 5px; 
    transition: all 0.3s ease; 
    cursor: pointer;   
}
header ul li a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #007bff; 
    transition: all 0.3s ease; 
    transform: scaleX(0);
    transform-origin: bottom left; 
}

header ul li a:hover::after {
    transform: scaleX(1);    
}
.header a:hover,
.header a:active{ 
    color: #cac6c4;
}


.hero-container {
    display: flex;
    justify-content: center;
    background-color:#0b283f;
    padding: 4em 0;    
}
.hero {
    display: flex;
    align-items: center;   
}

.card.about-me {
    padding:2em 1.2em;
    min-width: 200px ;
    max-width: 400px;
    background-color: white;
    background-color:#041b30;
    color: white;
    overflow-y: auto;
    max-height: 450px;
}
.about-me__header {
    font-size: 2rem;
    padding: 0.5em 0;
    font-weight: 500;
}
.about-me .socials{
    justify-content: flex-end;
}
.about-me .svg-container:hover,
.about-me .svg-container:hover{
    background-color: #007bff; 
}
.image-container{
 max-width: 500px;
 
    
}
.about-me__content{
    padding: 1em 0;
    font-size: 1.275rem;
}

/* Skills and Tools */
.skills-tools{
    margin:4em 0;
    display: flex;
    justify-content: center;
    
}

.skills-tools header, .projects header, .contacts header,
.education header{
    font-size: 2rem;
    font-weight: bold;
}

.skills-tools li{
    padding: 0.5em;
    font-size: 1.425rem;
    
}
.skills-tools header{
    padding-bottom: 1em;
}


/* Projects */
.projects{
    background-color: #F3F8F2;
    
    padding: 4em 2em;
}
.projects header{
    padding-bottom: 1em ;
}
.projects .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px,1fr));
    gap: 15px;
   
}
.projects article{
  
    box-shadow:  0 4px 8px rgba(6, 6, 6, 0.1)
}
.project-details{
    padding: 1em ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.project-description{
    padding:0.5em 1em ;  
    padding-bottom: 1.2em; 
}
.project-name{
    font-size: 1.5rem;
    font-weight: 600;
}





.project-links .svg-container:hover,
.project-links .svg-container:active{
background-color:#cac6c4;
}


/* educations */

.education{
  
    margin-top: 4em;
    padding: 4em 1.5em;

}

.education.container{
    max-width: 1100px;
    width: 90vw;
    margin: 0 auto;
}
.education .year-grades{
    display: flex;
    justify-content: space-between;
    padding: 1em 0;

}
.education .contents{
    font-size: 1.2rem;
    padding:1em 0;
}

.courses{
    margin-top: 4em;
}

.courses .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(335px,1fr));
    gap: 1.75em;
   
}
.courses header,
.polytechnics header{
    line-height: 1.2em;
    margin-bottom: 1em;
    font-size: 3rem;
    text-align: center;
}
.polytechnics .contents p{
    font-size: 1.75rem;
    line-height: 1.5em;
   
}
.courses header{
    text-align: center;
}
.courses .course-name{
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 1em;
    text-align: center;
}

.course{
  box-shadow:  0 4px 8px rgba(16, 15, 15, 0.492);
border-radius: 0.25em;
  position: relative;
  max-height: 450px; 
  overflow: hidden; 
  transition: max-height 0.5s ease; 
  padding: 1em 2em;
  padding-bottom: 2em;
  display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.course-name{
    
    line-height: 1.5em;
    color: #007bff;
    display: flex;
    align-items: center;
}

.course-link{
    text-decoration: none;
    color: inherit;
    text-align: right;
    margin-top: auto; 
}
.course-caption {
    display: block;
    font-weight: bold;
    color: #007bff;
    text-align: right;
 
}

.course-caption:hover {
    text-decoration: underline;
}


    
.courses a{
    text-decoration: none;
    color: inherit;
}


.course-description{
    margin-bottom: 1em;
}

/* contacts */
.contacts{
    background-color:  #041b30;
    color: white;
    padding: 4em 1.5em;
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
}
.contacts header{
padding-bottom: 0.5em;
}
.contacts p{
    padding: 0.25em 0;
    font-size: 1.325rem;
}
.contacts .email{
    display: flex;
}

.contacts .svg-container{
    width:2.125rem;
    height:2.125rem;
}

.contacts svg{
    width: 1.5rem;
    height: 1.5rem;
}

.contacts .email .svg-container:hover,
.contacts .email .svg-container:active{
    background-color: inherit;
}
.socials{
    display: flex;
    gap: 1em;
}
.contacts .svg-container:hover,
.contacts .svg-container:hover{
    background-color: #007bff; 
}
.contacts .svg-container.linkedin svg{
    width: 1.75rem;
    height: 1.75rem;
}
.contacts .svg-container.linkedin{
    width: 2.2rem;
    height: 2.2rem;
}

/* Mobile */

.mobile-menu{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width:250px;
    z-index:999;
    box-shadow: -10px 0 10px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    backdrop-filter: blur(10px);
    display: none;
    padding: 1em;
    background-color: rgba(4, 27, 48, 0.583);
}
.mobile-menu li{
    width: 100%;
    font-size: 1.5rem;
}
.mobile_menu a{
    width: 100%;
}
.show-menu{
    display: none;
    cursor: pointer;
}

.close-menu span{
    cursor: pointer;
    height: 2.45rem;
    width: 2.45rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;  
}

    .close-menu span:hover,
    .close-menu span:active {
       background-color: #0b283f;
    }
.close-menu svg{
    width: 2rem;
    height: 2rem;
}


@media(max-width:900px){
    html{
        font-size: 14px;
    }
    .hideOnMobile{
        display: none;

    }
    .show-menu {
        display: block;
    }
    .hero{
        flex-direction: column;

    }
}

@media(max-width:400px){
    html{
        font-size: 12px;
    }
    .mobile-menu{
        width:75%;
    }
    .show-menu {
        display: block;
    }
    .image-container{
        max-width: 350px;
    }
    .card.about-me{
        width: 300px;
    } 
}